version: 2
jobs:
  build:
    working_directory: ~/ledger-wallet-daemon
    docker:
      - image: openjdk:8
    environment:
      - SBT_VERSION: 1.0.4
    steps:
      - checkout
      - run:
          name: Get sbt binary
          command: |
                    apt update && apt install -y curl
                    curl -L -o sbt-$SBT_VERSION.deb https://dl.bintray.com/sbt/debian/sbt-$SBT_VERSION.deb
                    dpkg -i sbt-$SBT_VERSION.deb
                    rm sbt-$SBT_VERSION.deb
                    apt-get update
                    apt-get install -y sbt python-pip git
                    pip install awscli
                    apt-get clean && apt-get autoclean

      - run: cp daemon/src/main/resources/application.conf.sample daemon/src/main/resources/application.conf
      - run: sbt "daemon/run -http.port=:8889 -admin.port=:3335"
